<div class="page-square">
  <div class="project-list-container">
    <div *ngFor="let item of projectList" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <div class="project-item">
        <div class="project-item-name">
          <a href="javascript:;" (click)="navigate(item)">{{item.projectName}}</a>
        </div>
        <div class="project-item-description">
          {{item.projectDescription}}
        </div>
        <div class="project-item-tags">
          <span>{{item.createDate | date: 'yyyy/MM/dd HH:mm'}}</span>
        </div>
        <div class="project-item-tags">
          <span class="label" *ngFor="let t of item.projectTags">
            {{t}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
