<div class="page-main">
  <header class="top-header">
    <h2>Web Dojo</h2>
  </header>
  <div class="main-container">
    <div class="left-sidebar">
      <div class="file-tree-toggle">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="drag-line"></div>
      <div>File List</div>
    </div>
    <div class="right-viewport">
      <div class="note-list">
        <div class="drag-line"></div>
        <div>
          Editor
        </div>
      </div>
      <div class="note-view">
        Preview
      </div>
    </div>
  </div>
</div>