<div class="page-home">
  <div class="left-sidebar">
    <div class="file-tree-toggle">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div class="drag-line"></div>
    <div class="list-group file-list">
      <strong class="list-group-item">{{'home.file_list' | translate}}</strong>
      <a href="#" class="list-group-item">index.js</a>
      <a href="#" class="list-group-item">index.html</a>
      <a href="#" class="list-group-item">index.css</a>
    </div>
  </div>
  <div class="right-viewport">
    <div class="note-list">
      <div class="drag-line"></div>
      <ace-editor name="" [mode]="editorMode" [height]="editorHeight" [(ngModel)]="editorValue"></ace-editor>
    </div>
    <div class="note-view">
      Preview
    </div>
  </div>
</div>
