<div class="page-home">
  <div class="left-sidebar">
    <div class="file-tree-toggle" (click)="menuMiniBtnClick()">
      <i class="fa" [ngClass]="{'fa-chevron-right': isLeftSidebarMini, 'fa-chevron-left': !isLeftSidebarMini}"></i>
    </div>
    <div class="drag-line"></div>
    <div class="list-group file-list">
      <strong class="list-group-item">{{'home.file_list' | translate}}</strong>
      <a href="#" class="list-group-item">index.js</a>
      <a href="#" class="list-group-item">index.html</a>
      <a href="#" class="list-group-item">index.css</a>
    </div>
  </div>
  <div class="right-viewport">
    <div class="note-list">
      <div class="drag-line"></div>
      <ace-editor name="" [mode]="editorMode" [height]="editorHeight" [(ngModel)]="editorValue"></ace-editor>
    </div>
    <div class="preview">
      <div class="preview-toolbar">
        <button class="btn btn-sm btn-success" (click)="runCode()" [disabled]="previewLoading">{{ (previewLoading ? 'home.load_preview': 'home.run_code') | translate }} <i class="fa fa-caret-right btn-run-icon"></i></button>
      </div>
      <div class="preview-container">

      </div>
    </div>
  </div>
</div>
