<div class="page-home">
  <div class="left-sidebar">
    <div class="file-tree-toggle" (click)="menuMiniBtnClick()">
      <i class="fa" [ngClass]="{'fa-chevron-right': isLeftSidebarMini, 'fa-chevron-left': !isLeftSidebarMini}"></i>
    </div>
    <div class="drag-line"></div>
    <div class="list-group file-list">
      <strong class="list-group-item">{{'home.template_list' | translate}}</strong>
      <a href="javascript:;" class="list-group-item" *ngFor="let t of templates" [ngClass]="{active: currentTemplate.name === t.key}"
        (click)="changeTemplate(t)">{{t.text}}</a>
    </div>
  </div>
  <div class="right-viewport">
    <div class="note-list">
      <div class="drag-line"></div>
      <kendo-tabstrip [animate]="false" [keepTabContent]="true">
        <kendo-tabstrip-tab [title]="'index.html'" [selected]="true">
          <ng-template kendoTabContent>
            <ace-editor name="" [mode]="'html'" [height]="editorHeight" [(ngModel)]="projectInfo.files['index.html']"></ace-editor>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'index.js'">
          <ng-template kendoTabContent>
            <ace-editor name="" [mode]="'javascript'" [height]="editorHeight" [(ngModel)]="projectInfo.files['index.js']"></ace-editor>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'index.css'">
          <ng-template kendoTabContent>
            <ace-editor name="" [mode]="'css'" [height]="editorHeight" [(ngModel)]="projectInfo.files['index.css']"></ace-editor>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
    <div class="preview">
      <div class="preview-toolbar">
        <button class="btn btn-sm btn-success" (click)="runCode()" [disabled]="previewLoading">{{ (previewLoading ? 'home.load_preview': 'home.run_code') | translate }} <i class="fa fa-caret-right btn-run-icon"></i></button>
      </div>
      <div class="preview-container">

      </div>
    </div>
  </div>
  <kendo-dialog title="Please confirm" *ngIf="showTemplateChangeDialog" [width]="600" (close)="closeTemplateChangeDialog()">
    <p style="margin: 30px; text-align: center;">您正在切换项目模板。是否同时切换项目内容？</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="closeTemplateChangeDialog()">取消切换模板</button>
      <button kendoButton (click)="closeTemplateChangeDialog('onlyTemplate')">仅切换模板</button>
      <button kendoButton (click)="closeTemplateChangeDialog('all')" primary="true">切换模板和内容（推荐）</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <kendo-dialog title="Save Project" *ngIf="showSaveDialog" [width]="600" (close)="showSaveDialog = false">
    <form>
      <div class="form-group">
        <label>Project Name</label>
        <input type="text" class="form-control" placeholder="Name for search" name="name" [(ngModel)]="projectInfo.projectName" required>
        <span class="text-danger" *ngIf="!projectInfo.projectName">Project name required.</span>
      </div>
      <div class="form-group">
        <label>Project Description</label>
        <textarea class="form-control" rows="5" placeholder="Tell us what the project means" name="description" [(ngModel)]="projectInfo.projectDescription"></textarea>
      </div>
      <div class="form-group">
        <label>Project Tags</label>
        <kendo-multiselect name="tags" [data]="tagItems" [(ngModel)]="projectInfo.projectTags"></kendo-multiselect>
        <span class="text-danger" *ngIf="projectInfo.projectTags.length === 0">Need at least one tag.</span>
      </div>
    </form>
    <kendo-dialog-actions>
      <button kendoButton (click)="showSaveDialog = false">取消</button>
      <button kendoButton (click)="doSaveProject()" primary="true">确定保存</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
