.page-login {
  background: gray;
  padding-top: 100px;
  height: 100vh;

  .login-div {
    background: #fff;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;

    .panel-body {
      height: 285px;
    }
  }
}
