<div class="page-login">
  <div class="login-div">
    <div class="panel panel-info">
      <div class="panel-heading">{{'login.welcome' | translate}}</div>
      <div class="panel-body">
        <kendo-tabstrip>
          <kendo-tabstrip-tab [title]="'login.login_label' | translate" [selected]="true">
            <ng-template kendoTabContent>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="enter username" name="username" [(ngModel)]="loginUser.username" required>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="enter password" name="password" [(ngModel)]="loginUser.password"
                  required>
              </div>

              <div class="checkbox">
                <label> <input type="checkbox" name="remember" [(ngModel)]="remember"> {{'login.remember' | translate}} </label>
              </div>
              <br>
              <button kendoButton (click)="doLogin()" [iconClass]="'fa fa-send fa-fw'"> {{ 'login.login_btn' | translate}}</button>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab [title]="'login.register_label' | translate">
            <ng-template kendoTabContent>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="enter username" name="username" [(ngModel)]="registerUser.username"
                  required>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="enter password" name="password" [(ngModel)]="registerUser.password"
                  required>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="repeat password" name="password2" [(ngModel)]="registerUser.password2"
                  required>
              </div>
              <br>
              <button kendoButton (click)="doRegister()" [iconClass]="'fa fa-send fa-fw'"> {{'login.register_btn' | translate}}</button>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
  </div>
</div>
